
video{
    height: 300px;
    width: 300px;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main{
    display: flex;
}
.stop{
    color: red;
}
.unmute{
    color:red;
}
body{
    overflow: hidden;
}
.main__right{
  flex: 0.2;
  background-color: #242321;
   display: flex;
   flex-direction: column;
}
.main_chat_window{
    height: 85vh;
    overflow-y: scroll;
    
}

input[type=text]{
    padding: 8px;
    width: 170px;
    margin-bottom: 5px;
    margin-left: 4px;
    border-radius: 4px;
    border:2px solid black;

}
.messages{
    list-style: none;
}
.messages li{
    color:white;
}
.main_message_container{
   height: 10vh;
   margin-bottom: 20px;
}
.main__left{
    flex: 0.8;
    display: flex;
    height: 100vh;
  flex-direction: column;
}
.main__controls{
  background-color:#1C1E20;
  height: 10vh;
  color: azure;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.main_videos{
    height: 90vh;
    display: flex;
    overflow-y: scroll;
    background-color: black;
}
.main_controls_block{
    display: flex;
}
.main_controls_button{
    display: flex;
    padding: 10px;
    cursor: pointer;
    flex-direction: column;
}
.main_controls_button:hover{
    background-color: #343434;
    border-radius: 5px;
}
h2{
    text-align: center;
    color:white;
}
.ww{
    padding-left: 8px;
}
.ss{
    color: red;
    padding-top: 5px;
    font-size: 21x;
}
.main_controls_button i{
    padding-left: 13px;
    font-size: 20px;
}










.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .uul li{
      cursor: pointer;
  }
  .uul li:hover{
    background-color: #857f7f;
    border-radius: 5px;
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }












  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 80vh; /*Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  /* Modal Content */
  .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 60vh;
  }
  .uul1{
      height: 50vh;
  }
 
  
  /* The Close Button */
  .close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }